<nav class="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link {{active1}}" href="/dashboard">
        <i class="bi bi-house-door"></i> Moje kampanie
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{active2}}" href="/dashboardTemplates">
        <i class="bi bi-collection"></i> Templatki
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{active3}}" href="/dashboardRecipents">
        <i class="bi bi-people"></i> Odbiorcy
      </a>
    </li>
  </ul>
</nav>
